<mat-toolbar color="primary" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <span>tp-angular</span>
  <div>
    <button mat-button routerLink="/">{{ 'navBar.home' | translate}}</button>
    <button mat-button routerLink="/my-bookmarks">{{ 'navBar.bookmarks' | translate}}</button>
    <button mat-button [matMenuTriggerFor]="menu">Genres</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let genre of genres$ | async" [routerLink]="'/genre/' + genre.id">{{genre.name}}</button>
    </mat-menu>
    <mat-form-field floatLabel="never">
      <input type="text"
             placeholder="{{ 'general.search' | translate}}"
             matInput
             (keyup.enter)="search()"
             [formControl]="mySearchControl">
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon (click)='openSettingsDialog()'>settings</mat-icon>
    </button>
  </div>

</mat-toolbar>
<div class="page-body">
  <router-outlet></router-outlet>
</div>
