<div [routerLink]="['/movies', movie.id]" class="tile" *ngIf="movie">
  <div class="tile-movie-infos">
    <div class="tile-movie-title"><strong>{{movie.title}}</strong></div>
    <i class="tile-movie-year" *ngIf="movie.release_date">{{ 'movie.released_on' | translate }} {{movie.releaseDate | date: "yyyy"}}</i>
    <i class="tile-movie-year" *ngIf="!movie.release_date">{{ 'movie.noDate' | translate }}</i>
    <mat-chip-list aria-label="movie-genres">
      <mat-chip *ngFor="let genreId of movie.genre_ids" [routerLink]="'/genre/' + genreId">{{(genreId | getGenreById).name}}</mat-chip>
    </mat-chip-list>
    <p
      class="movie-overview">{{movie.overview ? movie.overview : 'general.noOverview' | translate }}
    </p>
    <button (click)="toggleFavorites(movie.id); $event.stopPropagation();"
            [color]="(movie.id | existsInLocalStorage) ? 'accent' : 'warn'"
            aria-label="Bookmark button" class="btn-bookmark-movie"
            mat-fab title="{{ 'movie.addToFav' | translate}}">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <img [alt]="movie.title" class="img-fluid" [src]="movie.fullPosterPath" />
</div>
