<div [routerLink]="movie.id" class="tile">
  <div class="tile-movie-infos">
    <div class="tile-movie-title">{{movie.title}}</div>
    <span class="tile-movie-year">Produit en {{movie.releaseDate | date: 'yyyy'}}</span>
    <p
      class="tile-movie-overview">{{movie.overview ? movie.overview : 'general.noOverview' | translate }}
    </p>
    <button (click)="toggleFavorites(movie.id); $event.stopPropagation();"
            [color]="(movie.id | existsInLocalStorage) ? 'accent' : 'warn'"
            aria-label="Bookmark button" class="btn-bookmark-movie"
            mat-fab title="{{ 'movie.addToFav' | translate}}">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>
  <img
    *ngIf="movie.poster_path"
    [alt]="movie.title"
    [matTooltip]="movie.title + ' (' + (movie.releaseDate | date: 'yyyy') + ')'"
    [src]="(movie.fullPosterPath ? movie.fullPosterPath : 'src\assets\img\no-image.png')"
    class="rounded tile-poster"
  />
</div>
