<div class="container">
  <div class="row">
    <h1>{{ "home.welcome" | translate }}</h1>
  </div>

  <ng-container *ngIf="topRatedMovies$ | async as topRatedMovies; else loading">
    <div class="row">
      <ng-container *ngIf="topRatedMovies.results.length > 0; else noData">
        <h2 class="col-12 mt-3">{{ "home.topRated" | translate }}</h2>
        <div class="col-12">
          <div class="row">
            <app-tiles *ngFor="let movie of topRatedMovies.results | slice: 0:8" class="col-md-3 col-12 p-0"
                       [movie]="movie"></app-tiles>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="popularMovies$ | async as popularMovies; else loading">
    <div class="row">
      <ng-container *ngIf="popularMovies.results.length > 0; else noData">
        <h2 class="col-12 mt-3">{{ "home.mostPopular" | translate }}</h2>
        <div class="col-12">
          <div class="row">
            <app-tiles class="col-md-3 col-12 p-0" *ngFor="let movie of popularMovies.results | slice: 0:8"
                       [movie]="movie"></app-tiles>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="latestMovies$ | async as latestMovies; else loading">
    <div class="row">
      <ng-container *ngIf="latestMovies.results.length > 0; else noData">
        <h2 class="col-12 mt-3">{{ "home.lastAdded" | translate }}</h2>
        <div class="col-12">
          <div class="row">
            <app-tiles class="col-md-3 col-12 p-0" *ngFor="let movie of latestMovies.results | slice: 0:8" [movie]="movie"></app-tiles>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <ng-template #noData>{{ "general.noData" | translate }}</ng-template>
</div>
