h1 {
  background-image: linear-gradient(to right, #7b1fa2, white);
  color: white;
  padding-left: 10px;
}

.tile-poster {
  width: 100%;
}

.movie-vote-progress{
    float: right;
}

.movie-vote{
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    right: 40px;
    top: 40px;
}

.movie-overview {
    text-align: justify;
}

.genre-chip {
  cursor: pointer;
}

.bookmark-movie {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
}

.btn-bookmark-movie {
    transition: display 0.5s, width 0.5s, visibility 2s, border-radius 0s ease;
}

.btn-bookmark-movie:hover {
    width: 200px;
    border-radius: 30px;
}

.btn-bookmark-movie-text {
    visibility: hidden;
    display: none;
}

.btn-bookmark-movie:hover .btn-bookmark-movie-text {
    visibility: visible;
    display: inline-block;
}

.btn-bookmark-movie:hover .btn-bookmark-movie-icon {
    margin: 0 5px;
}
.slogan {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
}
