h1 {
  background-image: linear-gradient(to right, #7b1fa2, white);
  color: white;
  padding-left: 10px;
}

.tile-poster {
  width: 100%;
}

.movie-vote-progress{
    float: right;
}

.movie-vote{
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    right: 40px;
    top: 40px;
}

.movie-overview {
    text-align: justify;
}

.genre-chip {
  cursor: pointer;
}

.slogan {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
}
