<div class="container">
  <ng-container *ngIf="movie$ | async as movie; else loading">
    <ng-container *ngIf="movie; else noData">
      <div class="row">
        <h1 class="col-12 col-12 my-4 mx-3">{{ movie.title }}</h1>
      </div>
      <div class="row">
        <div class="col-5">
          <img
            class="rounded tile-poster"
            [src]="movie.fullPosterPath"
            [alt]="movie.title"
          />
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <span class="movie-year">
                  <span class="tile-movie-year" *ngIf="movie.release_date"
                    >{{ "movie.released_on" | translate }}
                    {{ movie.releaseDate | date: "yyyy" }}</span
                  >
                  <span class="tile-movie-year" *ngIf="!movie.release_date">{{
                    "general.noData" | translate
                  }}</span>
                </span>
              </div>
              <div class="row">
                <mat-chip-list aria-label="movie-genres">
                  <mat-chip
                    class="genre-chip"
                    [routerLink]="'/genre/' + genre.id"
                    *ngFor="let genre of movie.genres"
                    >{{ genre.name }}</mat-chip
                  >
                </mat-chip-list>
              </div>
            </div>
            <div class="col-4">
              <div class="movie-vote-box">
                <mat-progress-spinner
                class="movie-vote-progress"
                  color="accent"
                  mode="determinate"
                  value="{{ movie.vote_average * 10 }}"
                >
                </mat-progress-spinner>
                <div class="movie-vote">
                  {{ movie.vote_average * 10 }}%
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <p class="movie-overview">
              {{
                movie.overview
                  ? movie.overview
                  : ("general.noOverview" | translate)
              }}
            </p>
            <div *ngIf="movie.homepage">
              Site web : <a [href]="movie.homepage" target="_blank">{{movie.homepage}}</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <ng-template #noData>{{ "general.noData" | translate }}</ng-template>
</div>
