<ng-container *ngIf="result$ | async as result; else loading">
  <div class="row">
    <ng-container *ngIf="result.results.length > 0; else noData">
      <h1 class="col-12">{{ genre.name }}
        <small class="text-muted">{{ result.total_results }} résultats &#8226; Page
          {{ result.page }} sur {{ result.total_pages }}</small></h1>
      <div class="col-12">
        <div class="row">
          <app-tiles class="col-md-3 col-12 p-0" *ngFor="let movie of result.results" [movie]="movie"></app-tiles>
        </div>
      </div>
    </ng-container>
    <mat-paginator
      class="col-12"
      *ngIf="result.results.length > 0"
      [length]="result.total_results"
      [pageIndex]="pageIndex"
      [pageSize]="20"
      [hidePageSize]="true"
      (page)="changePage($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #noData>{{ "general.noData" | translate }}</ng-template>
