<h1 mat-dialog-title>Mes paramètres</h1>
<div mat-dialog-content>
    <mat-label>Afficher le contenu pour adulte ?</mat-label>
    <mat-slide-toggle [(ngModel)]="showAdultContent" matInput>Oui / Non</mat-slide-toggle>
  <mat-form-field>
    <mat-label>Choix de la langue</mat-label>
    <mat-select [(ngModel)]="language">
      <mat-option value="en">English</mat-option>
      <mat-option value="fr">Français</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>Annuler</button>
  <button mat-button cdkFocusInitial>Valider</button>
</div>