<h1 mat-dialog-title>{{ 'settings.mySettings' | translate }}</h1>
<div mat-dialog-content>
    <mat-label>{{ 'settings.adultContent' | translate }}</mat-label>
    <mat-slide-toggle [(ngModel)]="showAdultContent" matInput>{{ 'general.yesNo' | translate }}</mat-slide-toggle>
  <mat-form-field>
    <mat-label>{{ 'settings.language' | translate }}</mat-label>
    <mat-select [(ngModel)]="language">
      <mat-option value="en">English</mat-option>
      <mat-option value="fr">Français</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">{{ 'general.cancel' | translate }}</button>
  <button mat-button (click)="onSubmitClick()" cdkFocusInitial>{{ 'general.validate' | translate }}</button>
</div>