/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin: 50px 0;
  font-size: xx-large;
}

h2 {
  background-image: linear-gradient(to right, #7b1fa2, white);
  color: white;
  padding-left: 10px;
}
