<ng-container *ngIf="(result$ | async) as movies; else loading">
  <h1>Recherche de : &laquo; {{searchString}} &raquo;</h1>
  <i>{{movies.total_results}} résultats &#8226; Page {{movies.page}} sur {{movies.total_pages}}</i>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <ng-container *ngIf="movies.results.length > 0; else noData">
      <ng-container *ngFor="let movie of movies.results">
        <app-cards [movie]="movie"></app-cards>
      </ng-container>
    </ng-container>

  </div>
  <mat-paginator [length]="movies.total_results"
                 [pageSize]="20"
                 [hidePageSize]="true"
                 (page)="changePage($event)" showFirstLastButtons>
  </mat-paginator>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #noData>Aucun film ne correspond à votre recherche</ng-template>
