<ng-container *ngIf="result$ | async as movies; else loading">
  <div class="container">
    <div class="row">
      <h1>
        Films correspondants à : &laquo; {{ searchString }} &raquo;
        <small class="text-muted">{{ movies.total_results }} résultats &#8226; Page
          {{ movies.page }} sur {{ movies.total_pages }}</small>
      </h1>
    </div>

    <ng-container *ngIf="movies.results.length > 0; else noData">
      <div class="row">
        <app-tiles class="col-md-3 col-12 p-0" *ngFor="let movie of movies.results" [movie]="movie"></app-tiles>
      </div>
    </ng-container>
    <div class="row">
      <mat-paginator class="col-12"
        *ngIf="movies.results.length > 0"
        [length]="movies.total_results"
        [pageIndex]="pageIndex"
        [pageSize]="20"
        [hidePageSize]="true"
        (page)="changePage($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #noData>
  <div class="row search-not-found">
    <img src="/assets/img/torn.png" width="250" alt="no-movies" />
    <h2>
      {{ "general.movieNotFound" | translate }}
    </h2>
  </div>
</ng-template>
